body {
    background-color: rgb(178, 210, 222);
}
.leaflet-container {
    background-color: white;
}
.rowC{
    display:flex; 
    flex-direction:row;
}
.rightCol {
    border:1px red solid;
    padding:2%;
}